{
  "presets": [
    "react-native"
    // this is required for debugging with react-native/packager/transformer
  ],
  "plugins": [
    ["inline-import", { "extensions": [".graphql", ".graphqls"] }],
    ["module-resolver", {
      "extensions": [".js", ".ios.js", ".android.js"],
      "alias": {
        "core": "./core",
        "native": "./platforms/native",
        "web": "./platforms/web/src/web",
        "graphql-utils": "./libs/graphql-utils"
      }
    ],
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "flow-react-proptypes",
          {
            "ignoreNodeModules": true
          }
        ],
        [
          "transform-define",
          "./core/config/getConfig.js"
        ]
      ]
    }
  },
  "sourceMaps": true
  // must be true react-native/packager/transformer using with node-module-debug
  // because of some bugs from vscode-node-debug & vscode-react-native, "sourceMaps" cannot be "inline" or "both"
}
