{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "fp",
    "react-native"
  ],
  "rules": {
    "arrow-parens": 0,
    "global-require": 0,
    "import/first": 0,
    "no-duplicate-imports": 0, // handled by eslint-plugin-import
    "no-use-before-define": 0,
    "no-underscore-dangle": [2,  { "allowAfterThis": true }],
    "import/prefer-default-export": 0, // actions can have only one action
    "arrow-body-style": 0,
    "class-methods-use-this": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "import/extensions": 0,
    "react-native/no-unused-styles": 0,
    "react-native/split-platform-components": 2,
    "fp/no-mutating-assign": 2,
    "react/sort-comp": [2, {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "/^on.+$/",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "everything-else",
        "/^render.+$/",
        "render"
      ]
    }],
    "react/require-default-props": 0 // Checked by flowtype
  }
}
