image: node:latest

stages:
  - test
  - build
  - deploy

cache:
  paths:
    - node_modules/
  key: “$CI_BUILD_REPO”

before_script:
  - >
    if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/'; then
      yarn install
    fi

run_tests:
  stage: test
  script:
    - >
    if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/'; then
      yarn web:test
    fi

build:
  stage: build
  script:
    - >
    if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/'; then
      yarn web:build
    fi
  artifacts:
    paths:
      - platforms/web/public

deploy_staging:
  stage: deploy
  script:
    - >
    if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/'; then
        yarn global add firebase-tools
        firebase use --token $FIREBASE_DEPLOY_KEY nubabitest1
        firebase deploy -m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_DEPLOY_KEY --only hosting
      fi
  only:
    - master
  environment:
    name: staging