image: node:latest

stages:
  - set_version
  - test
  - build
  - deploy
  - publish

cache:
  paths:
    - node_modules/
  key: “$CI_BUILD_REPO-$CI_COMMIT_REF_SLUG”

before_script:
  - >
    if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/\|platforms/server/\|libs/graphql-utils'; then
      export GIT_REVISION_SHORT_SHA=$(git rev-parse --short HEAD)
      export WEB_BASE_VERSION=$(node -p "require('./platforms/web/package.json').version")
      yarn install
    fi

set_dev_app_version:
  stage: set_version
  script:
    - >
      if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/\|platforms/server/\|libs/graphql-utils'; then
        export NUBABI_APP_VERSION=$WEB_BASE_VERSION-dev+$CI_PIPELINE_ID.sha.$GIT_REVISION_SHORT_SHA
      fi
  except:
    - master

set_prod_app_version:
  stage: set_version
  script:
    - >
      if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/\|platforms/server/\|libs/graphql-utils'; then
        export NUBABI_APP_VERSION=-$WEB_BASE_VERSION+$CI_PIPELINE_ID
      fi
  only:
    - master

run_tests:
  stage: test
  script:
    - >
      if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/\|platforms/server/\|libs/graphql-utils'; then
        yarn web:test
      fi

build:
  stage: build
  script:
    - >
      if git diff HEAD^ HEAD --name-only|grep 'core/\|platforms/web/\|platforms/server/\|libs/graphql-utils'; then
        yarn web:build
      fi
  artifacts:
    paths:
      - platforms/web/build

deploy_staging:
  stage: deploy
  script:
    - >
      if git diff HEAD^ HEAD --name-only|grep 'platforms/web'; then
        yarn global add firebase-tools
        firebase use --token $FIREBASE_DEPLOY_KEY nubabitest1
        firebase deploy -m "Pipeline $CI_PIPELINE_ID, Build $CI_BUILD_ID, Staging" --non-interactive --token $FIREBASE_DEPLOY_KEY --only hosting
      fi
  environment:
    name: staging
  only:
    - master

deploy_dev:
  stage: deploy
  script:
    - >
      if git diff HEAD^ HEAD --name-only|grep 'platforms/web'; then
        yarn global add firebase-tools
        firebase use --token $FIREBASE_DEPLOY_KEY nubabi-dev
        firebase deploy -m "Pipeline $CI_PIPELINE_ID, Build $CI_BUILD_ID, Development" --non-interactive --token $FIREBASE_DEPLOY_KEY --only hosting
      fi
  environment:
    name: development
  except:
    - master

deploy_graphql:
  stage: deploy
  script:
    - >
      if git diff HEAD^ HEAD --name-only|grep 'platforms/server'; then
        yarn global add serverless
        mkdir ~/.gcloud
        export TERM=xterm
        echo -E "$GCLOUD_KEYFILE_DEV" > ~/.gcloud/keyfile.json
        echo -E "$FIREBASE_ADMIN_KEY_DEV" > ./platforms/server/graphql/nubabitest1-firebase-adminsdk-r7bmb-2f00516d5e.json
        cd platforms/server/graphql && sls deploy -v
      fi
  variables:
    NUBABI_GRAPHQL_ENDPOINT: http://us-central1-nubabitest1.cloudfunctions.net/handler/graphql

publish:
  stage: publish
  only:
    - master
  script:
    - >
      yarn release -y && git add -u . && git push origin master && git push --tags
